@font-face {
  font-family: "TTHovesRegular";
  src: url("fonts/TTHovesRegular/TTHovesRegular.woff");
  src: url("fonts/TTHovesRegular/TTHovesRegular.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/TTHovesRegular/TTHovesRegular.woff") format("woff"),
    url("fonts/TTHovesRegular/TTHovesRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

body {
  margin: 0;

  font-family: "TTHovesRegular";
}

.header {
  height: 100px;

  display: grid;
  grid-template-columns: 10% 10% 10% 70%;
  align-items: center;

  background-color: aqua;
}

.header__logo-link {
  height: fit-content;
  width: fit-content;

  grid-column: 2/3;
}

.header__logo {
  height: 45px;
}

.header__nav {
  grid-column: 4/5;
}

.header__nav-link {
  margin-right: 100px;

  /* font-family: "TTHovesRegular"; */
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.2em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-decoration: none;

  color: #333333;
}

.header__nav-link:hover {
  text-decoration: underline;
}
/* ____________________ДАЛЬШЕ main__________________________ */

main {
  display: grid;
  grid-template-columns: 10% 30% 50% 10%;
  grid-template-rows: 30% 30% 30%;

  background-color: cornsilk;
}

.main__project-presentation {
  grid-column: 2/4;
  grid-row: 1/4;

  text-align: center;

  background-color: aquamarine;
}

.project-presentation__name {
  grid-column: 2/3;
  grid-row: 2/3;

  background-color: blue;
}
.project-presentation__switcher {
  grid-column: 3/4;

  background-color: blueviolet;
}
.project-presentation__preview {
  grid-column: 1/4;

  background-color: chocolate;
}

/* ____________________ДАЛЬШЕ footer__________________________ */
footer {
  width: 100%;

  background: #2c2c2c;
}

.footer__container {
  padding: 5%;

  display: flex;
  align-items: top;
  justify-content: space-around;
}

.footer__list-content {
  list-style: none;
}

.footer-list-content__headline {
  /* font-family: "TTHovesRegular"; */
  font-size: 16px;
  font-weight: 700;
  line-height: 19.92px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #ffffff;
}

.footer-list-content__line {
  margin-bottom: 1.5em;

  /* font-family: "TTHovesRegular"; */
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #ffffff;
}

.footer-list-content__link {
  text-decoration: none;

  color: #ffffff;
}

.footer-list-content__icon {
  margin-right: 10%;
}

.footer__logo {
  width: 145px;
  height: 94px;
}

.footer__information {
  width: 25%;
}

.footer__contacts {
  width: 20%;
}

.footer__social-media {
  width: 20%;
}
